.overflow-h{
  overflow: hidden;
}
.overlay-msg{
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,.2);
  z-index: 5;
}
.msg-send{
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  padding: 24px;
  color: #FFFFFF;
  background-color: #2A3647;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  transform: translate(-50%);
}
.msg-send-text{
  display: flex;
  align-items: center;
  gap: 8px;
}
.animate-msg{
  animation: 250ms moveMsg ease-in-out;
}
@keyframes moveMsg{
  from{
    top: 100%;
  }
}